<div class="container-fluid">
    <div class="row p-5">
        <div class="col-3">
            
        </div>
        <div class="col-6">
            <div class="card">
                <h5 class="card-header"><h3><b>Crear Tarea:</b></h3></h5>
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="registrarTarea" aria-describedby="emailHelp" placeholder="Nombre">
                        </div>
                        <div class="mb-3">
                          <input type="text" class="form-control p-4" id="descTarea" placeholder="Descripción">
                        </div>
                        <div class="mb-3">
                          <input type="text" class="form-control" id="proyectoTarea" placeholder="Proyecto">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="fechaTarea" placeholder="Fecha de finalización">
                          </div>
                          <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-dark btn-lg">Aceptar</button>
                          </div>
                      </form>
                </div>
              </div>
        </div>
    </div>
</div>
