<app-navbar></app-navbar>
<div class="container pt-2">
  <div class="jumbotron m-3">
    <div class="text-center">
      <h1>Editar datos de usuarios</h1>
    </div>
    <form [formGroup]="formulariousuarioedit">
      <div class="mb-3">
        <label for="usuarionombres" class="form-label">Nombre(S)</label>
        <input
          type="text"
          class="form-control"
          id="usuarionombres"
          formControlName="usuarionombres"
          placeholder="{{this.userdata.usuarionombres}}"
        />
        <span
        class="alert alert-danger"
          *ngIf="
            this.formulariousuarioedit
              .get('usuarionombres')
              ?.hasError('pattern') &&
            this.formulariousuarioedit.get('usuarionombres')?.touched
          "
          >Ingresaste un numero y no esta permitido</span
        >
      </div>
      <div class="mb-3">
        <label for="usuarioapellidoP" class="form-label">Primer Apellido</label>
        <input
          type="text"
          class="form-control"
          id="usuarioapellidoP"
          formControlName="usuarioapellidoP"
          placeholder="{{this.userdata.usuarioapellidoP}}"
        />
        <span
        class="alert alert-danger"
          *ngIf="
            this.formulariousuarioedit
              .get('usuarioapellidoP')
              ?.hasError('pattern') &&
            this.formulariousuarioedit.get('usuarioapellidoP')?.touched
          "
          >Ingresaste un numero y no esta permitido</span
        >
      </div>
      <div class="mb-3">
        <label for="usuarioapellidoM" class="form-label"
          >Segundo Apellido</label
        >
        <input
          type="text"
          class="form-control"
          id="usuarioapellidoM"
          formControlName="usuarioapellidoM"
          placeholder="{{this.userdata.usuarioapellidoM}}"
          aria-describedby="usuarioapellidoMhelp"
        />
        <span
        class="alert alert-danger"
          *ngIf="
            this.formulariousuarioedit
              .get('usuarioapellidoM')
              ?.hasError('pattern') &&
            this.formulariousuarioedit.get('usuarioapellidoM')?.touched
          "
          >Ingresaste un numero y no esta permitido</span
        >
        <div id="usuarioapellidoMhelp" class="form-text">
          Si no se tiene un segundo apellido ingrese una 'X'
        </div>
      </div>
      <div class="mb-3">
        <label for="usuarioemail" class="form-label">Correo electronico</label>
        <input
          type="text"
          class="form-control"
          id="usuarioemail"
          formControlName="usuarioemail"
          placeholder="{{this.userdata.usuarioemail}}"
        />
        <span
        class="alert alert-danger"
          *ngIf="
            this.formulariousuarioedit
              .get('usuarioemail')
              ?.hasError('email') &&
            this.formulariousuarioedit.get('usuarioemail')?.touched
          "
          >Ingresa un correo valido</span
        >
      </div>
      <div class="mb-3">
        <label for="usuariotelefono" class="form-label"
          >Numero de telefono</label
        >
        <input
          type="text"
          class="form-control"
          id="usuariotelefono"
          formControlName="usuariotelefono"
          placeholder="{{this.userdata.usuariotelefono}}"
        />
        <span
        class="alert alert-danger"
          *ngIf="
            this.formulariousuarioedit
              .get('usuariotelefono')
              ?.hasError('pattern') &&
            this.formulariousuarioedit.get('usuariotelefono')?.touched
          "
          >Ingresaste una letra y no esta permitido </span
        >
      </div>
      <div class="text-center">
        <input
          [disabled]="!formulariousuarioedit.valid"
          (click)="enviar()"
          class="btn btn-outline-success"
          value="Confirmar"
          type="button"
        />
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
