<div class="container-fluid">
    <div class="row p-5">
        <div class="col-3">
            
        </div>
        <div class="col-6">
            <div class="card">
                <h5 class="card-header"><h3><b>Eliminar Tarea:</b></h3></h5>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="table-dark">
                            <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Proyecto</th>
                          <th scope="col">Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let tarea of tareas">
                              <th scope="row">{{ tarea.IDtareas }}</th>
                              <td>{{tarea.tareanombre}}</td>
                              <td>{{tarea.tareadescripcion}}</td>
                              <td>{{tarea.tareaproyecto}}</td>
                              <td>
                                  <button class="btn btn-ouline-dark">Eliminar</button>
                              </td>
                          </tr>
                        </tbody>
                      </table>
                      
                </div>
              </div>
        </div>
    </div>
</div>
