<!-- <app-navbar></app-navbar> -->

<div class="container">
    <div class="card mb-3">
        <h4 class="card-header"><h3><b>Tareas Registradas</b></h3></h4>
        <div class="card-body">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tarea of TareasInfo">
                      <td>{{tarea.IDtarea}}</td>
                      <th scope="row">{{tarea.tareanombre}}</th>
                      <td>{{tarea.tareadescripcion}}</td>
                    </tr>
                  </tbody>
              </table>
        </div>
    </div>
</div>